h1 {margin: 0;
}

.container {
width: 1158px;
padding: 0 15px;
margin: 0 auto;
}





.logo {
font-family: "Raleway" , sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: darkblue;
text-decoration: none;

}
span {
    color: rgb(255, 166, 0);
    margin-right:  76px;}
.sec-one {
  margin-right: auto;
  margin-left: auto;
  background: #2e2f42;
  padding: 72px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 320px;
  text-align: center;
    min-height: 432px;
background-image: linear-gradient(
 to bottom,

  rbga(46, 47, 66, 0.7),
  rbga(46, 47, 66, 0.7)

),
url(/image/images-min.jpg);
}

.button {
background-color: #4d5ae5;
color: #ffffff;
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
margin-right: auto;
margin-left: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Effective Solutions for Your Business */
.sec-one-title {
text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
max-width: 216px;
margin-right: auto;
margin-left: auto;
margin-bottom: 72px;

}
.sec-one-hero {

position: absolute;
width: 1440px;
height: 600px;
left: -20px;
top: 79px;

/* NAVY BLUE */
background: #ffffff;
}

.sec-one {
background-image: linear-gradient(
to bottom,
rbga(46, 47, 66, 0.7),
rbga(46, 47, 66, 0.7)

),
url(/image/images-min.jpg);
padding: 188px 0;
max-width: 1440px;
background-position: center;
}

.sec-one-title {

font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
max-width: 216px;
margin-right: auto;
margin-left: auto;





}


@media screen and (min-width: 768px) {
    
}

.sec-one-title {

max-width: 496px;
font-size: 56px;
line-height: 1.07;
margin-bottom: 36px;





}

.button:hover,
.button:focus {

background: #404bbf;
}



















 

