h1 {margin: 0;
}

.container {
width: 1158px;
padding: 0 15px;
margin: 0 auto;
}





.logo {
font-family: "Raleway" , sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: darkblue;
text-decoration: none;

}
span {
    color: orange;
<<<<<<< Updated upstream
    margin-right:  76px;}
.sec-one {
  margin-right: auto;
  margin-left: auto;
  background: #2e2f42;
  padding: 72px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 320px;
  text-align: center;
    min-height: 432px;}

.button {
display : flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;

position: absolute;
width: 169px;
height: 56px;
left: 626px;
top: 435px;

/* IRIS */
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.15);
border-radius: 4px;
}
/* Effective Solutions for Your Business */
.sec-one-title {
position: absolute;
width: 496px;
height: 120px;
left: 462px;
top: 267px;

/* Header 1 */
font-family: 'Roboto';
font-style: normal;
font-weight: 700px;
font-size: 56px;
line-height: 60px;
/* or 107% */
text-align: center;
letter-spacing: 0.02em;

/* WHITE */
color: #FFFFFF;
}
.sec-one-hero {

position: absolute;
width: 1440px;
height: 600px;
left: -20px;
top: 79px;

/* NAVY BLUE */
background: #ffffff;












}
=======
    margin-right:  76px;
}
>>>>>>> Stashed changes
